/* all styles should be copied in their respective section */

#borderPath {
    stroke: black;
    stroke-width: 3;
    fill: none;
}

/* basemap style */

.buildings {
   fill: #D9C5CC;
}

.water{
    fill:#57A5CF;
}

.green {
    fill:#89B53E;
}


/* poi style */
.poi {
    fill: #6E0DBD;
    stroke: #6E0DBD;
    stroke-width: 4;
}

.poi.active {
    fill: orange;
    stroke: orange;
    stroke-width: 6;
}

.poi:hover {
    stroke-width: 9;
    fill: orange;
    stroke: orange;
}

.label.active {
    fill:white;
}

.label {
    fill:white;
    font-size: 8px;
    font-family: Trebuchet MS;
    text-align: left;
    text-anchor: middle;
}

.label:hover {
    font-size: 12px;                /*why it does not work?*/
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 300px;
    min-height: 20px;
    padding: 4px;
    font: 15px sans-serif;
    background: aliceblue; 
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* walk style */
.walk{
    stroke: #6E0DBD;
    fill:none;
    stroke-width: 2;
}

/* page style */

body {
    font-family: Trebuchet MS;
    padding: 20px;
}

.text_container {
    float: right;
}

.text{
    width: 300px;
    float: left;
}

.cover {
    float: right;
}

